@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  @apply min-h-screen bg-gray-1;
}
.fixed {
  @apply bg-blue-11  fixed inset-x-0 lg:py-5 z-50;
}
.nav {
  @apply max-w-7xl mx-auto px-8
}
.ehn{
  @apply flex items-center py-5 px-2
}
.hiddenx {
  @apply md:flex items-center space-x-8 -ml-32 hidden
}
.resume {
  @apply py-1.5 px-5 bg-blue-10 hover:bg-blue-10  hover:text-gray-1 rounded-full transition duration-300;
}
.click-btn {
  @apply flex items-center px-3 py-2 border rounded-full text-blue-50 border-blue-200 ;
}

.scroller {
  animation: 30s scroll alternate infinite;
}

.scroller:first-child {
  animation-duration: 35s;
}

.scroller:nth-child(2) {
  animation-duration: 40s;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
.animationping {
animation:  ping 15s cubic-bezier(0, 0, 0.2, 1) infinite;
}
@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}
.animatespin {
  animation: spin 11s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animatebounce {
  animation: bounce 5s infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animatepulse {
  animation: pulse 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}
